.left-contents
  = render "sahred/side-ber"

.right-contents
  .right-contents__top
    .right-contents__top__box
      .right-contents__top__box__left
        group1
      .right-contents__top__box__right
        .right-contents__top__box__right__edit
          Edit
    .right-contents__top__member
      Member : user1
  .right-contents__center
    = render "shared/messages"

  .right-contents__bottom
    %form.right-contents__bottom__box
      .right-contents__bottom__box__message
        %input.right-contents__bottom__box__message--textarea{:placeholder => "type a message", :type => "text"}
      .right-contents__bottom__box__icon
        %label.right-contents__bottom__icon--image
          = fa_icon 'image'
      .right-contents__bottom__box__send
        Send


-# .form
-#       = form_for [@group, @message] do |f|
-#         = f.text_field :content, class: 'form__message', placeholder: 'type a message'
-#         .form__mask
-#           = f.label :image, class: 'form__mask__image' do
-#             = fa_icon 'picture-o', class: 'icon'
-#             = f.file_field :image, class: 'hidden'
-#         = f.submit 'Send', class: 'form__submit'

-# .right-contents__bottom
-#     %form.right-contents__bottom__box
-#       .right-contents__bottom__box__message
-#         %input.right-contents__bottom__box__message--textarea{:placeholder => "type a message", :type => "text"}
-#       .right-contents__bottom__box__icon
-#         %label.right-contents__bottom__icon--image
-#           = fa_icon 'image'
-#       .right-contents__bottom__box__send
-#         Send