.right-contents__center__top
  .right-contents__center__top__box
    .right-contents__center__top__box__user-name
      user-name
    .right-contents__center__top__box__time
      2019/09/13(Fri) 00:00:00

.right-contents__center__bottom
  .right-contents__center__bottom__message
    ありがとう